#reg{
	height: 588px;
	width: 100%;
	background: #FBEDEC url("http://www.dionly.com/images/normal/reg.jpg") no-repeat center center;
}
#reg input{
	padding: 1px 3px;
	border: none;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	float: left;
}
 .regr{
	float: right;
	width: 518px;
	height: 606px;
}
 .login{
	display: block;
	width: 56px;
	height: 25px;
	padding-top: 62px;
	margin-left: 330px;
	font-size: 14px;
	color: #DB3962;
}
 .err{
	display: block;
	margin: 3px 0 0 150px;
	width: 230px;
	height: 18px;
	color: #DB3962;
	float: left;
	white-space: nowrap;
}
 .phone1{
	margin: 41px 0 0 150px;
	width: 150px;
}
.yanzhengma{
	margin: 2px 0 0 150px;
	border: none;
	width: 80px;
	float: left;
}
.benma{
	cursor: pointer;
	float: left;
	margin: 0 50px 0 3px;
}
.duanxin{
	float: left;
	margin: 0 20px 0 150px;
	width: 60px;
}
.getduanxin{
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	width: 100px;
	height: 30px;
	padding-left: 15px;
}
.psw{
	margin: 3px 0 0 150px;
}

 .xieyi{
	margin-top: 2px;
	width: 390px;
	height: 35px;
	font-size: 14px;
}
 .autobox{
	float: left;
	margin-left: 55px;
	width: 10px;
	height: 18px;
	padding:0 3px 3px 4px;
}
 .checkbox{
	float: left;
}
.autotxt{
	padding-top: 4px;
 	float: left;
}
 .regbtn{
	background: url("http://www.dionly.com/images/normal/regbutn.png") no-repeat;
	cursor: pointer;
	width: 321px;
	height: 41px;
	margin-top: 18px;
	margin-left: 60px;
	border: none;
}

 .third{
	margin:42px 0 0 73px;
	width: 330px;
	height: 75px;
	text-align: center;
}
 .third img{
	float: left;
	margin: 0 9px;
}

